.container {
    overflow: hidden;
}
.todo-list-box {
    width: 500px;
    max-height: 50%;
    overflow-y: auto;
    margin: 10% auto 0;
}

.btn-block {
    margin: 0 auto;
    width: 500px;
    position: relative;
}

.add-new {
    position: absolute;
    right: 0;
    bottom: -50px;
}
