<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}ToDo List{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/list.css') }}" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container vh-100">
                <div class="todo-list-box">
                    <ul class="list-group todo-list js-todo-list" data-url="{{ path('todo-list') }}">
                        <li class="list-group-item js-spinner">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn-block text-right">
                    <a href="#" class="btn btn-primary add-new" data-toggle="modal" data-target="#todoModal">Add New</a>
                </div>
            </div>

            <div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New ToDo Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control js-title" required>
                            </div>
                            <div class="form-group">
                                <label>For Date</label>
                                <input type="date" class="form-control js-created-for-date" min="today" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary js-save-item" data-url="{{ path("todo-item-create") }}">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('jquery/jquery-3.5.1.min.js') }}"></script>
            <script src="{{ asset('popper/popper.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <script src="{{ asset('js/list.js') }}" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>

